.planet1{width:100px;height:100px;background:url(../img/sprite.png)}
.planet2{width:100px;height:100px;background:url(../img/sprite.png) -100px 0}
.planet3{width:100px;height:100px;background:url(../img/sprite.png) -200px 0}
.propulsion{width:32px;height:32px;background:url(../img/sprite.png) -300px 0}
.satellite1{width:32px;height:32px;background:url(../img/sprite.png) -332px 0}
.satellite2{width:32px;height:32px;background:url(../img/sprite.png) -364px 0}
.satellite3{width:32px;height:32px;background:url(../img/sprite.png) -396px 0}
.spaceship{width:64px;height:64px;background:url(../img/sprite.png) -428px 0}