body {
  background-color: #313b58;
  color: white;
  padding-top: 20px;
}

h1 {
  position: absolute;
  margin: 0;
  width: 200px;
  text-align: center;
  z-index: 2;
}

#menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-left: -250px;
  margin-top: -150px;
  background-color: black;
  z-index: 2;
  border: 10px double rgb(96, 51, 93);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

#lightbox {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#menu.playing, #lightbox.playing {
  display: none;
}

#game {
  width: 650px;
  margin: 0 auto;
  background-color: black;
}

#playerStats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(96, 51, 93);
}

#playerStats p {
  margin-right: 16px;
}

#playerStats p:last-child {
  margin-right: 0px;
}

#gameCanvas {
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#planet {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50%;
}

.satellite-orbit {
  position: absolute;
  width: 200px;
  height: 200px;
}

.satellite-orbit.animated {
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

#orbit-template {
  border-radius: 50%;
}

#satellite-template {
  position: absolute;
  left: 84px;
  top: -16px;
  background-color: transparent;
}

#spaceship-orbit {
  position: fixed;
  width: 512px;
  height: 512px;
  transform: rotate(0deg);
}

#spaceship {
  position: absolute;
  top: -32px;
  left: 224px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: blue;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.satellite {
  position: fixed;
  width: 32px;
  height: 32px;
  background-color: lightseagreen;
  border-radius: 50%;
  z-index: 9;
}
